/*============ANIMATIONS================= */
@font-face {
  font-family: 'holberton';
  src: url('assets/fonts/holberton_school-icon.woff') format('woff');
  font-display: swap;
}

/* Floating/Bouncing Animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Slight Rotation Animation */
@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

/* Scaling on Hover */
.animated:hover {
  animation: float 2s ease-in-out infinite, rotate 3s ease-in-out infinite;
}
