 body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 20px;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-left: 1px solid #ccc;
}
